In [63]:
import mglearn as ml
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from numpy import genfromtxt
from ucimlrepo import fetch_ucirepo 
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.float_format', '{:.2f}'.format)

# https://harish-reddy.medium.com/regularization-in-python-699cfbad8622

In [50]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data'
crime = pd.read_csv(url, header=None, na_values=['?'])
crime.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,NaN,NaN,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,NaN,NaN,NaN,NaN,0.00,NaN,0.67
2,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.43
3,34,5.0,81440.0,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,NaN,NaN,NaN,NaN,0.00,NaN,0.12
4,42,95.0,6096.0,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03

# https://www.analyticsvidhya.com/blog/2021/11/study-of-regularization-techniques-of-linear-model-and-its-roles/

In [51]:
# fetch dataset 
cars = fetch_ucirepo(id=9)

In [52]:
X = cars.data.features
y = cars.data.targets

In [53]:
#examine nulls
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   displacement  398 non-null    float64
 1   cylinders     398 non-null    int64
 2   horsepower    392 non-null    float64
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
 5   model_year    398 non-null    int64
 6   origin        398 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 21.9 KB

In [54]:
X['horsepower'] = X['horsepower'].astype(str)
X.horsepower = X.horsepower.str.replace('?','NaN').astype(float)
X.horsepower.fillna(X.horsepower.mean(),inplace=True)
X.horsepower = X.horsepower.astype(int)

/var/folders/25/_xzr2f1s2yjgy1xmfcjypv8m0000gn/T/ipykernel_61956/2399568339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['horsepower'] = X['horsepower'].astype(str)
/var/folders/25/_xzr2f1s2yjgy1xmfcjypv8m0000gn/T/ipykernel_61956/2399568339.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.horsepower = X.horsepower.str.replace('?','NaN').astype(float)
/var/folders/25/_xzr2f1s2yjgy1xmfcjypv8m0000gn/T/ipykernel_61956/2399568339.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.horsepower.fillna(X.horsepower.mean(),inplace=True)
/var/folders/25/_xzr2f1s2yjgy1xmfcjypv8m0000gn/T/ipykernel_61956/2399568339.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.horsepower = X.horsepower.astype(int)

In [55]:
y

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [64]:
#scaling
#Scaling the feature to align the data

from sklearn import preprocessing
print("Scale all the columns successfully done") 
X_scaled = preprocessing.scale(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
y_scaled = preprocessing.scale(y)
y_scaled = pd.DataFrame(y_scaled, columns=y.columns)

Scale all the columns successfully done

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size=0.25, random_state=1)

In [66]:
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)
for idcoff, columnname in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(columnname, regression_model.coef_[0][idcoff]))

The coefficient for displacement is 0.30908206618923134
The coefficient for cylinders is -0.07222953976006119
The coefficient for horsepower is -0.07677855652480575
The coefficient for weight is -0.7826884859951916
The coefficient for acceleration is 0.04058041456087799
The coefficient for model_year is 0.37858316499746486
The coefficient for origin is 0.13382889388563438

In [67]:
intercept = regression_model.intercept_[0]
print("The intercept for our model is {}".format(intercept))

The intercept for our model is 0.014957955006903102

In [68]:
print(regression_model.score(X_train, y_train))
print(regression_model.score(X_test, y_test))

0.8109908435029544
0.8488668351654642